.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 0.5em;
  }

  .moments-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .moment {
    width: 32%;
    margin-bottom: 1em;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 1em;
    }

    h3,
    p {
      margin-bottom: 1em;
    }

    .date {
      font-size: 0.7em;
      font-style: italic;
    }
  }

  a {
    color: #dec129;
    padding: 0.3em 0.6em;

    &:hover {
      background-color: #efefef;
    }
  }

  .search-container {
    margin-bottom: 2em;
    width: 100%;

    form {
      width: 30%;
      min-width: 300px;
      position: relative;

      fa-icon {
        position: absolute;
        top: 8px;
        left: 8px;
      }

      input {
        padding: 0.5em;
        width: 100%;
        text-align: center;
      }
    }
  }
}
